{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head>

  <body>
    <h1>List class</h1>
    <div>
      <table style="width: 100%" border="1">
        <tr>
          <th>Name</th>
          <th>Max Person</th>
          {%if user.is_staff%}
          <th>Edit</th>
          <th>Delete</th>
          {%endif%}
        </tr>
        {% for class in listclass %}
        <tr>
          <td>{{class.name}}</td>
          <td>{{class.max_person}}</td>
          {%if user.is_staff%}
          <td><a href="{% url 'editclass' class.id%}">Edit</a></td>
          <td><a href="{% url 'deleteclass' class.id%}">Delete</a></td>
          {%endif%}
        </tr>
        {% endfor %}
      </table>
    </div>
    <div>
      {%if user.is_staff%}
      <p><a href="{% url 'addnewclass' %}">Add New class</a></p>
      {%endif%}
      <p><a href="{% url 'home' %}">Go Back</a></p>
    </div>
  </body>
</html>
